<div class="products">
  <h1>  Products</h1>
  <a href="/list">To order Products</a>
</div>
 <!-- <div>
    <table>
     &lt;!&ndash; <tr>
        <th id="left"><span> Prices of Horseshoes are listed below</span> </th>
        <th id="right"> Prices of Penguin-ears are listed below</th>
      </tr></table>&ndash;&gt;
  </div>-->
  <div class="row">
    <div class="column">
    <table class="table1">
      <thead>
      <tr>
        <th>Quantity of Product Horseshore</th>
        <th>Price of Product Horseshore</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td></td>
      </tr>
      <tr>
        <td>9</td>
        <td></td>
      </tr>
      <tr>
        <td>10</td>
        <td></td>
      </tr>
      <tr>
        <td>11</td>
        <td></td>
      </tr>
      <tr>
        <td>12</td>
        <td></td>
      </tr>
      <tr>
        <td>13</td>
        <td></td>
      </tr>
      <tr>
        <td>14</td>
        <td></td>
      </tr>
      <tr>
        <td>15</td>
        <td></td>
      </tr>
      <tr>
        <td>16</td>
        <td></td>
      </tr>
      </tbody>
    </table>
      </div>
      <div class="column">
  <table class="table1">
    <thead>
    <tr>
      <th>Quantity of Product Penguin Ears</th>
      <th>Price of Product Penguin Ears</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td></td>
    </tr>
    <tr>
      <td>8</td>
      <td></td>
    </tr>
    <tr>
      <td>9</td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td></td>
    </tr>
    <tr>
      <td>13</td>
      <td></td>
    </tr>
    <tr>
      <td>14</td>
      <td></td>
    </tr>
    <tr>
      <td>15</td>
      <td></td>
    </tr>
    <tr>
      <td>16</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
  </div>
<div>
  </div>
